doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    // script(src='/framework/jiandie.js')
    // script(src='/framework/dongwuyuan.js')
    // script(src='/framework/yanjiuyuan.js')
    script(src='/framework/silvertree.js')
  body
    block content
